<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="../css/styles.css" type="text/css" rel="stylesheet">
    <meta charset="utf-8">
    <title>Hair Salon</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Hair Salon</h1>
      </div>
      <form action="/addclient" method="get">
        <label for="clientname">Enter a New Client</label>
        <input type="text" name="clientname">
        <input type="hidden" name="stylist_id" value="{{ stylist.id }}">
        <button type="submit" name="button">Enter</button>
      </form>
      <h2>Hair Stylist {{ stylist.name }}</h2>
      {% if clients is not empty %}
        <h3>These are your clients...</h3>
        {% for client in clients %}
          <li><a href="/client/{{ client.id }}">{{ client.name }}</a></li>
        {% endfor %}
        {% else %}
        <h3>You don't have any clients yet.</h3>
      {% endif %}
      <p>
        <a href="/stylist/{{ stylist.getId }}/edit">Edit this Stylist</a>
      </p>
      <p><a href='/'>Home</a></p>
    </div>
  </body>
</html>
