<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hair Salon</title>
  </head>
  <body>
    <div class="container">
      <form action="/addclient" method="get">
        <label for="clientname">Enter a New Client</label>
        <input type="text" name="clientname">
        <input type="hidden" name="stylist_id" value="{{ stylist.id }}">
        <button type="submit" name="button">Enter</button>
      </form>
      <h1>Hair Stylist {{ stylist.name }}</h1>

      {% if clients is not empty %}
        <h3>These are your clients...</h3>
        {% for client in clients %}
          <li><a href="/client/{{ client.id }}">{{ client.name }}</a></li>
        {% endfor %}
        {% else %}
        <h3>You don't have any clients yet.</h3>
      {% endif %}
      <p>
        <a href="/stylist/{{ stylist.getId }}/edit">Edit this Stylist</a>
      </p>
      <p><a href='/'>Home</a></p>
    </div>
  </body>
</html>
